<div class="container vh-100">
  <div class="row h-100">
    <div class="my-auto mx-auto text-center">
      <div class="w-100">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Genero</th>
              <th scope="col">Fecha Nacimiento</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of alumnos">
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.nombre }}</td>
              <td>{{ item.apellido }}</td>
              <td>{{ item.genero }}</td>
              <td>{{ item.fechaNacimiento | date }}</td>
              <td>
                <button class="btn btn-warning" (click)="editAlumno(item)">
                  Editar
                </button>
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteDialog(item.id)">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <input
        class="btn btn-primary"
        type="button"
        value="Nuevo"
        (click)="openDialog()"
      />
    </div>
  </div>
</div>
